body {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  background-color: #D9D9D9;
  line-height: 1.4;
  font-family: Galdeano, Arial, 'Arial Unicode MS', Helvetica, sans-serif;
}

hr{
  justify-content: center;
}


a.button{
  display: inline-block;   
  padding: 10px 20px;       
  background-color: #CF9581; 
  color: white;            
  text-decoration: none;   
  border-radius: 5px;     
  border: 2px solid black;
  gap: 20px;

}

.navi{
  display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    margin-top:-10px;
    margin-bottom:-10px;
}

P {
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}
.logo {
  max-width: 30%;
  padding-top: 0px;
}

li{
    list-style-type: none;
    text-align: left;

    
}

.banner {
     padding:20px;
     background-image: url("../fotos/banner.jpg");
    background-origin: padding-box;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 200px;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.4);
    border: 3px solid black;
}
  
/*  
  img {
justify-content: center;
margin: 0 auto;
text-align: center;
 width: 100%; */

  
#intro{
    padding-left: 30px;
    padding-right:30px;
}


.artikel {
    max-width: 15rem;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
  }

  #artikelen {
    h2{
        grid-column: 1/ -1;
      }
      .artikel:nth-of-type(3){
        grid-column: span 2;
      }

    @media(min-width: 925px){
      display: grid;
      grid-template-columns: 1fr 1fr;
    
      
    }

    @media(min-width: 1100px){
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .artikel:nth-of-type(3){
        grid-column: span 1;
      }
    } 

  }
  

.footer {
  background-color: #317072;
  color: white;
  padding: 20px;
  list-style-type: none
}
.footerlist{
    /* @media(min-width: 925px){ */
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding:0;
    }
/* } */

.contact {
     @media(min-width: 925px){
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center; 
}
        
}


.banbut {
    margin-top: -168px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 99px;
    color: white;
    font-family: inter;
}